body,
html {
    height: 100%;
    text-align: center;
    color: #2a1b47;
}

* {
    margin: 0px;
    padding: 0px;
}

.bg {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    display: flex;
    background-image: linear-gradient(to bottom right, #3F1D38, #4D3C77, #A2678A, #E19898);
    animation: gradient 15s ease-in-out infinite;
}

#main-body {
    max-height: 90%;
    width: 500px;
    
    padding-bottom: 100px;
    background-color: #f7f4ff;
    opacity: 85%;
    border-radius: 10%;
    align-items: center;
    overflow-y: auto;
    
}
#title {
    margin-top: 10%;
}

.input-group {
    width: auto;
    margin-top: 10%;
    display: inline-flex;
}

.btn-outline-secondary:hover {
    color: #514754;
    background-color: #bea8d1;
    border-color: #5f5168;
}

.btn {
    background-color: #b78db8;
    color: #2a1b47;
}

.form-control:focus,
.outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:focus {
    box-shadow: 0px 0px 9px 0.1rem rgb(201 191 217);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active {
    background-color: #A2678A;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

ul {
    list-style: none;
    padding-left: 0pt;
}

ul.output {
    color: #2a1b47;
    align-items: left;
}

.task-li {
    left: 0;
    
    font-size: x-large;
}

.task-label {
    padding-bottom: 10px;

}
.checkbox span{
    word-wrap: break-word;
}
input.task-checkbox {
    appearance: none;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.task-checkbox:active,
.task-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.task-checkbox:checked {
    background-image: url("./check.png");
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
    background-size: 40px 40px;
    background-color:#a05fa1;
    transition: 0.5s ease-in-out;

}
.task-checkbox:checked + span{
    text-decoration: line-through;
}

