

h6{
  font-weight: inherit;
  line-height: 1.7rem;
}

h1 {
  font-family: 'Dosis',sans-serif;
  font-size: 36px;
}
.container-fluid {
  display: flex;
  width: 100%;
  padding: 0 5%;
}
.uppercase {
  text-transform: uppercase;
}

p {
  font-family: 'Nunito',sans-serif;
  font-size: 18px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
}

button{
  width: fit-content;
}





.btn {
  --bs-btn-font-size: unset;

  border-radius: 30px;
  border: 2px solid #abb7c4;
}

.btn-outline-secondary {
  color: #abb7c4;
}
.btn-outline-secondary:hover {
  background-color: transparent;
}




/* footer */

footer .flex-parent-ft {
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-position: center;
  height: 168px;
  width: 100%;
  color: #abb7c4;
  flex-wrap: wrap;
  padding: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-template-columns: 20% 50%;

}

footer .item1 {
  flex-direction: column;
  flex-shrink: 3;
}


footer .ft-promo {
  justify-content: center;
  text-align: center;
  display: flex;
}

footer .logo {
  width: 140px;
  height: 40px;
}

footer .ft-copyright {
  display: flex;
  justify-content: right;
  justify-content: space-between;
  border-top: 1px solid #405266;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: rgba(2,13,24,0.71);
 
  flex-wrap: wrap;
  position: relative;
}


.ft-copyright a {
  color: #337ab7;


}
.ft-copyright a:hover {
  color: #dcf836;
  text-decoration: none;
}
footer {
  background: url(images/ft-bg.webp);
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;


}

footer .flex-child-ft{
  display: flex;
}

.contact-us {
  margin-top: 5px;
}
.contact-us a{
  color: #abb7c4;
  text-decoration: none;
}
.contact-us a:hover {
  color: #dcf836;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  .search-input {
    max-width: 80%;
  }
  .contact-us{
    text-align: center;
    justify-content: center;
  }
  footer .ft-promo {
    font-size: 11px;
  }
  footer .flex-parent-ft{
    flex-direction: column;
  }
}

.telegram-link img{
  right: 0;
  
}
 .telegram-link {
  text-align: right;
  bottom: 10px;
  margin-right: 5%;

  position: sticky;
}


.common-hero {
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 56%;
}

.main-carousel {
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  background:url(images/slider-bg.webp);
}

.main {
  padding-top: 3%;
  align-items: center;
  justify-content: center;
  padding-bottom: 7%;
}

.movies-filter {
  padding-top: 3%;
  text-align: center;
  justify-content: center;
  color: #ffffff;
}

.grid-container {

  justify-content: center;

}
.movie-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  border-radius: 5px;
  box-shadow: inset 0 0 54px rgba(52,58,62,0.7), 0 0 5px 1px rgba(226,230,232,0.6);
  background: #233a50;
  margin: 1%;
  padding: 0;

}




.movie-item:hover {
  filter: brightness(70%);
  transition: all 0.7s ease-in-out;
  cursor: pointer;

}

.watchnow-button {
  z-index: 2;
  text-transform: uppercase;
  border-left: 50%;
  border-right: 50%;
  border: none;
  opacity: 0;
  top: 35%;
  left: 22%;
  height: 40px;
  width: auto;

  position: absolute;
}



.movie-item:hover .btn-danger {
  opacity: 1;
  cursor: pointer;
  transition: all 0.7s ease-in-out;

}

.image__placeholder {
  width: 100%;
  position: relative;
}
.image__placeholder .rate {
  display: inline;
  
  font-size: 12px;
  position: absolute;
  left: 12px;
  margin-top: 3px;
  background: rgba(11,26,42,0.9);
  padding: 1px 7px;
  border-radius: 5px;
  z-index: 1;
}
.image__placeholder .rate img {
  height: 16px;
  width: auto;
}


.movie-item .title {
  padding-top: 5px;
  color: #ffffff;
  padding-left: 5px;
  font-family: 'Dosis',sans-serif;
  font-weight: bold;

  
}
.movie-item:hover .title {
  color: #dcf836;
}
.image__placeholder .year  {
  font-size: 12px;
  position: absolute;
  bottom:0;
  left: 3px;
  background: rgba(11,26,42,0.9);
  padding: 1px 7px;
  border-radius: 5px;
}

.image__placeholder .quality-tag{
  font-size: 15px;
  color: #ffffff;
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: rgba(84, 183, 54, 0.9);
  padding: 1px 7px;
}

.telegram-link img{
  right: 0;
  
}
 .telegram-link {
  text-align: right;
  bottom: 10px;
  margin-right: 5%;

  position: sticky;
}
